<div class="dashboard">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title class="dashboard-title">Décadas</mat-card-title>
    </mat-card-header>

    <mat-card-content class="dashboard-content">
      @for (decade of dashboard().aircraftByDecade; track decade.decade) {
        <div class="dashboard-item">
          <div class="decade-label">
            <span class="decada"> Década: </span>
            <span>
              {{ decade.label }}
            </span>
          </div>
          <span class="quantity">
            {{ decade.quantity }}
          </span>
        </div>
      }
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title> Última Semana </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <h2>
        {{ dashboard().registeredLastWeek }}
      </h2>

      <p>Aeronaves cadastradas</p>
    </mat-card-content>
  </mat-card>
</div>
